@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure</h1>
    <p>
        This is a simple web application that demonstrates an Azure CI/CD pipeline. <br/> updates to the main branch will trigger a build and deployment to the Azure Web App.
    </p>
    <p>
        This is testing the Azure deployment slot feature. These changes should be visible in the staging slot.
    </p>
</div>