@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure</h1>
    <p>
        This is a simple web application that demonstrates an Azure CI/CD pipeline.
    </p>
</div>